<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<p> The square root of <%= @val %> is <%= @sval %> </p>

<form action="">
  <label> Number to square: </label>
  <input name="my_num" type="text">

  <button>Submit</button>
</form>
